
.DS_Store
/data/*
!/data/.gitkeep
*.csv
*.zip
*.vscode
*.idea
kaggle.json
/__pycache__/*
*.pyc
/exercises/extracted_data/*
/exercises/extracted_data/.gitkeep
/exercises/airports.sqlite
exercises/temperatures.sqlite